<h1>Super cool webring site</h1>

<p>The proud #1 webring service for the far right.</p>

<p>This is like neorings but worse because it sounds like a pain to make all that. It just lets you make webrings, add members and generates links for back, forwards and random.</p>